
@{
    Layout = null;

    string vrijeme = ViewBag.Vrijeme.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prvi</title>
</head>
<body>
    <div> 
       danas je @vrijeme;
    </div>
</body>
</html>
