USE [master]
GO
/****** Object:  Database [Parcijalni2]    Script Date: 18.4.2019. 13:46:13 ******/
CREATE DATABASE [Parcijalni2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parcijalni2', FILENAME = N'E:\Code\MVC2019\Parcijalni 2\App_Data\Parcijalni2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parcijalni2_log', FILENAME = N'E:\Code\MVC2019\Parcijalni 2\App_Data\Parcijalni2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parcijalni2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parcijalni2]
GO
USE [Parcijalni2]
GO
/****** Object:  Table [dbo].[Proizvodi]    Script Date: 18.4.2019. 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvodi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](15) NOT NULL,
	[cijena] [smallmoney] NOT NULL,
	[kupljen] [bit] NULL,
 CONSTRAINT [PK_Proizvodi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Proizvodi] ON 

INSERT [dbo].[Proizvodi] ([id], [naziv], [cijena], [kupljen]) VALUES (1, N'Lutka', 120.0000, 0)
INSERT [dbo].[Proizvodi] ([id], [naziv], [cijena], [kupljen]) VALUES (2, N'Brod', 180.0000, 0)
INSERT [dbo].[Proizvodi] ([id], [naziv], [cijena], [kupljen]) VALUES (3, N'Avion', 120.0000, 1)
SET IDENTITY_INSERT [dbo].[Proizvodi] OFF
USE [master]
GO
